* {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
}
.background-image {
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.profile {
    display: block;
    object-position: center top;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    border-style: groove;
}
